body{
    background-image: url("../img/bg_01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

#header{
    padding: 30px;
    text-align: center;
    background-color:white;
    color:black;
}
#header h1{
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
#header p{
    border-bottom: 1px solid black;
}

#main{
    margin: auto;
    font-size: 20px;
    width: 50%;
    text-align:justify ;
    background-color: white;
}
img{
    width: 100%;
}

#content{
    display: flex;
}

.box{
    padding: 20px;
}

.box h2{
    border-bottom: 2px solid black;
    margin: 0px;
}

#footer{
    text-align: center;
    border-top: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
}

@media screen and (max-width:1440px) {
     #main{
         width: 80%;
         font-size: 18px;

     }
}

@media screen and (max-width:768px) {
     body{
        background-image: none;
        
    }
    #main{
       margin: 0px;
       padding: 0px;
       width: 100%;
       font-size: 14px;
    }
    #content{
        display: block;
    }
        
}


